In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

In [2]:
# geobase = "../Project-1---Corn-v.-Weather/us-zip-code-latitude-and-longitude.csv"
# geobase_df = pd.read_csv(geobase)
# geobase_df.head()

In [3]:
# geobase_df.to_csv("../Project-1---Corn-v.-Weather/geobase.csv")

In [4]:
iowa = "../Project-1---Corn-v.-Weather/Iowa_weather_2016to2018.csv"
iowa_df = pd.read_csv(iowa)
iowa_df.head()

,STATE,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,PRCP,SNOW,TAVG,TMAX,TMIN
0,IOWA,USC00134561,"LAKE PARK, IA US",43.4483,-95.3247,446.5,2016,NaN,33.09,32.4,49.2,59.4,38.9
1,IOWA,USC00134561,"LAKE PARK, IA US",43.4483,-95.3247,446.5,2017,NaN,35.59,28.9,NaN,58.7,NaN
2,IOWA,USC00133473,"GRINNELL 3 SW, IA US",41.7200,-92.7490,275.8,2016,NaN,38.41,20.9,49.8,59.9,39.6
3,IOWA,USC00133473,"GRINNELL 3 SW, IA US",41.7200,-92.7490,275.8,2017,NaN,32.75,13.0,49.0,60.1,37.9
4,IOWA,USC00138009,"STRAWBERRY POINT, IA US",42.6853,-91.5330,365.8,2016,NaN,39.67,34.7,NaN,NaN,NaN

In [5]:
indiana = "../Project-1---Corn-v.-Weather/Indiana_weather_2016to2018.csv"
indiana_df = pd.read_csv(indiana)
indiana_df.head()

,STATE,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,PRCP,SNOW,TAVG,TMAX,TMIN
0,INDIANA,US1INMG0021,"MARTINSVILLE 2.3 SE, IN US",39.39605,-86.395617,194.8,2016,NaN,44.81,NaN,NaN,NaN,NaN
1,INDIANA,USW00014848,"SOUTH BEND AIRPORT, IN US",41.70720,-86.316300,235.6,2016,NaN,46.65,84.1,51.2,60.5,41.8
2,INDIANA,USC00128442,"STENDAL, IN US",38.26910,-87.163000,193.5,2016,NaN,52.42,NaN,57.1,66.4,47.8
3,INDIANA,USC00126023,"MUNCIE, IN US",40.18250,-85.349700,294.4,2016,NaN,40.25,15.3,NaN,NaN,NaN
4,INDIANA,USC00125174,"LOWELL, IN US",41.26470,-87.417800,202.7,2016,NaN,46.48,NaN,52.0,61.8,42.1

In [6]:
illinois = "../Project-1---Corn-v.-Weather/Illinois_weather_2016to2018.csv"
illinois_df = pd.read_csv(illinois)
illinois_df.head()

,STATE,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,PRCP,SNOW,TAVG,TMAX,TMIN
0,ILLINOIS,USC00114710,"KEWANEE 1 E, IL US",41.242900,-89.899700,237.7,2016,NaN,36.78,21.7,51.1,60.8,41.4
1,ILLINOIS,US1ILCR0012,"MOUNT CARROLL 6.8 NNW, IL US",42.187359,-90.021858,198.7,2016,NaN,39.54,NaN,NaN,NaN,NaN
2,ILLINOIS,US1ILCR0013,"SHANNON 0.2 S, IL US",42.149816,-89.739925,286.5,2016,NaN,36.28,NaN,NaN,NaN,NaN
3,ILLINOIS,US1ILJD0002,"GALENA 5.7 E, IL US",42.406264,-90.318103,246.9,2016,NaN,41.76,NaN,NaN,NaN,NaN
4,ILLINOIS,USC00114833,"LAKE SPRINGFIELD, IL US",39.757800,-89.604400,177.1,2016,NaN,26.42,NaN,NaN,NaN,NaN

In [7]:
nebraska = "../Project-1---Corn-v.-Weather/Nebraska_weather_2016to2018.csv"
nebraska_df = pd.read_csv(nebraska)
nebraska_df.head()

,STATE,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,PRCP,SNOW,TAVG,TMAX,TMIN
0,NEBRASKA,US1NELA0004,"LINCOLN 3.3 SSE, NE US",40.771517,-96.668918,376.1,2016,NaN,39.23,NaN,NaN,NaN,NaN
1,NEBRASKA,US1NEBF0001,"KEARNEY 1.9 NNE, NE US",40.727248,-99.074249,673.3,2016,NaN,22.96,NaN,NaN,NaN,NaN
2,NEBRASKA,USC00255780,"NAPONEE, NE US",40.078300,-99.138600,577.3,2016,NaN,24.93,18.0,NaN,NaN,NaN
3,NEBRASKA,USC00251065,"BRADSHAW, NE US",40.883600,-97.749100,524.3,2016,NaN,31.21,20.3,NaN,NaN,NaN
4,NEBRASKA,USC00253365,"GOTHENBURG, NE US",40.939400,-100.151300,793.4,2016,NaN,27.69,NaN,52.9,65.7,40.2

In [8]:
state_combined = pd.concat([indiana_df, iowa_df, nebraska_df, illinois_df])

In [9]:
state_combined.count()

STATE        3507
STATION      3507
NAME         3507
LATITUDE     3507
LONGITUDE    3507
ELEVATION    3507
DATE         3507
AWND          226
PRCP         3296
SNOW         1680
TAVG         1508
TMAX         1547
TMIN         1528
dtype: int64

In [10]:
state_combined_df = state_combined[["STATE", "DATE", "ELEVATION", "PRCP", "SNOW", "TAVG", "TMAX", "TMIN"]]
state_combined_df.head()

     STATE  DATE  ELEVATION   PRCP  SNOW  TAVG  TMAX  TMIN
0  INDIANA  2016      194.8  44.81   NaN   NaN   NaN   NaN
1  INDIANA  2016      235.6  46.65  84.1  51.2  60.5  41.8
2  INDIANA  2016      193.5  52.42   NaN  57.1  66.4  47.8
3  INDIANA  2016      294.4  40.25  15.3   NaN   NaN   NaN
4  INDIANA  2016      202.7  46.48   NaN  52.0  61.8  42.1

In [11]:
state_combined_df = state_combined_df.dropna()

In [12]:
state_combined_df.head()

      STATE  DATE  ELEVATION   PRCP  SNOW  TAVG  TMAX  TMIN
1   INDIANA  2016      235.6  46.65  84.1  51.2  60.5  41.8
20  INDIANA  2016      266.7  38.98  56.7  52.1  61.6  42.6
22  INDIANA  2016      215.8  36.49  19.3  52.6  62.3  43.0
23  INDIANA  2016      241.1  37.41  27.3  52.9  62.5  43.2
29  INDIANA  2016      302.1  40.83  15.0  52.4  62.9  41.8

In [13]:
state_combined_df.count()

STATE        1025
DATE         1025
ELEVATION    1025
PRCP         1025
SNOW         1025
TAVG         1025
TMAX         1025
TMIN         1025
dtype: int64

In [14]:
state_weather = state_combined_df.groupby(['STATE', 'DATE']).mean()

In [15]:
state_weather.head()

                ELEVATION       PRCP       SNOW       TAVG       TMAX  \
STATE    DATE
ILLINOIS 2016  201.290244  38.936098  17.380488  53.543902  63.104878
         2017  199.600000  37.517667   9.750000  53.351667  63.758333
         2018  201.947458  45.618305  26.445763  51.120339  60.940678
INDIANA  2016  226.884000  43.821600  22.730000  53.620000  63.512000
         2017  232.743636  46.641091  13.647273  53.160000  63.154545

                    TMIN
STATE    DATE
ILLINOIS 2016  43.980488
         2017  42.945000
         2018  41.300000
INDIANA  2016  43.740000
         2017  43.165455

In [16]:
#state_combined_df.set_index("STATE","DATE")

In [17]:
# state_combined_df.dtypes

In [18]:
corn_price = "../Project-1---Corn-v.-Weather/Corn_price_2016to2018.csv"
corn_price_df = pd.read_csv(corn_price)
corn_price_df.head()

,Program,DATE,Period,Week Ending,Geo Level,STATE,State ANSI,Ag District,Ag District Code,County,County ANSI,Zip Code,Region,watershed_code,Watershed,Commodity,Domain,PRICE RECEIVED -- $ / BU,CV (%)
0,SURVEY,2018,MARKETING YEAR,NaN,STATE,ALABAMA,1,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,CORN,TOTAL,4.11,NaN
1,SURVEY,2018,MARKETING YEAR,NaN,STATE,ALASKA,2,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,CORN,TOTAL,NaN,NaN
2,SURVEY,2018,MARKETING YEAR,NaN,STATE,ARIZONA,4,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,CORN,TOTAL,4.96,NaN
3,SURVEY,2018,MARKETING YEAR,NaN,STATE,ARKANSAS,5,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,CORN,TOTAL,3.80,NaN
4,SURVEY,2018,MARKETING YEAR,NaN,STATE,CALIFORNIA,6,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,CORN,TOTAL,4.40,NaN

In [19]:
corn_price_pd = corn_price_df[["STATE","DATE","PRICE RECEIVED -- $ / BU"]]
corn_price_pd.head()

        STATE  DATE  PRICE RECEIVED -- $ / BU
0     ALABAMA  2018                      4.11
1      ALASKA  2018                       NaN
2     ARIZONA  2018                      4.96
3    ARKANSAS  2018                      3.80
4  CALIFORNIA  2018                      4.40

In [20]:
corn_price_pd = corn_price_pd.dropna()

In [21]:
corn_price_pd.head()

        STATE  DATE  PRICE RECEIVED -- $ / BU
0     ALABAMA  2018                      4.11
2     ARIZONA  2018                      4.96
3    ARKANSAS  2018                      3.80
4  CALIFORNIA  2018                      4.40
5    COLORADO  2018                      3.70

In [22]:
#corn_price_pd['STATE'] = corn_price_pd['STATE'].astype(str)

In [23]:
corn_price_pd.dtypes

STATE                        object
DATE                          int64
PRICE RECEIVED -- $ / BU    float64
dtype: object

In [24]:
#corn_price_pd.set_index("STATE","DATE")

In [25]:
# corn_df = state_weather.append(corn_price_pd, ignore_index=True,sort=False)
# corn_df.head()

In [26]:
corn_df = pd.merge(state_weather,corn_price_pd [["STATE","DATE"]],  how='left', left_on=['STATE'], right_on=["DATE"])

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat